html{
    height: 100%;
    font-size: 20pt;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
    text-align: center;
    font-family: 'Roboto';
}
.header{
    height: 7vh;
    flex-shrink: 0;
}
.gameboard{
    width: 85%;
    display: Flex;
    height: 100%;
    /* flex: 1 0 auto; css-tricks: Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    background-color: papayawhip;
    justify-content: space-around;
}

.lettersRemaining{
    margin: 10%;
    height: 22%;
    width: 320px;
    text-transform: uppercase;
    flex-flow: row wrap;
    display: flex;
}
.letter{    
    font-size: 30pt;
    flex-flow: wrap;
    height: 40px;
    padding: 4px;
}
.guessingArea{
    min-width: 40%;

}
.hidden{
    color: papayawhip;
}
.footer{
    height: 5vh;
    flex-shrink: 0;
    text-align: right;
    margin: 3px;
}
/* font-weight thin if used and bold if not */
/* Use the scale-in and scale-out classes to make the letters appear and disappear. */